* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 244, 244, 0.917);
}

svg{
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: block;
  position: relative;
  border:2px solid rgb(226, 226, 226);
}


form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding:40px 70px 20px 40px;
  z-index: 2;
}

form .form-inner h2 {
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display:block;
  width:300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: #667;
  font-size:12px;
  margin-bottom: 5px;
  transition: 0.4s;
  font-weight: bold;
  padding-left: 10px;
}

.forgot-password{
  display: block;
  color: rgb(119, 243, 210);
  font-size:12px;
  margin-top:30px;
  text-decoration: none;
}

form .form-inner .form-group input {
  display:block;
  width: 70%;
  padding: 10px 15px;
  transition: 0.4s;
  border:2px solid rgb(226, 226, 226);
}

form .form-inner .form-group input::placeholder {
  color:rgb(200, 199, 199);
  font-size:12px;
}

form input[type="submit"],
.welcome button {
  display:inline-block;
  padding: 10px 50px 10px 50px;
  border-radius: 1px;
  border: none;
  background-color: rgb(119, 243, 210);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 400;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover,
.welcome button:hover {
  background-position: 100% 0% ;
}

.welcome {
  width:100%;
  max-width: 480px;
  background-color: #FFF;
  padding: 15px 30px;
}

.welcome h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  color:rgb(119, 243, 210);
  font-weight: 700;
}

.submit-button {
  background-color: rgba(240, 240, 240, 0.77);
  padding:20px 70px 20px 40px;

}